@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;200;300;400;500&display=swap');

/*-------------------------------Extra Stylings--------------*/

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    line-height: 1.5;
    font-family: Raleway, serif;
    color: #D9CFAC;
}

a {
    font-family: Lobster, sans-serif;
    color: #614444;
}

p a {
    color: #D9CFAC;
}

p a:focus,
p a:hover {
    color: #f3da7e;
}

ul {
    list-style-type: none;
    color: #D9CFAC;
}

h1,
h2,
h4 {
    font-family: Lobster, sans-serif;
    color: #614444;
    text-align: center;
}

h3,
h5,
h6 {
    font-family: Lobster, sans-serif;
    color: #D9CFAC;
    margin-top: 0px;
}

img {
    width: 100%;
    height: 300px;
    align-self: center;
    margin-top: 5px;
    border: 1px solid rgba(133, 81, 81, 0.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;

}

.container-fluid {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 150px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

/*-------------------------------Navigation Bar--------------*/

#mainNav {
    border-bottom: 1px solid #e9ecef;
    background-color: #614444;
}

#mainNav .navbar-brand {
    color: #D9CFAC;
    font-family: Lobster, sans-serif
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 13px;
    text-transform: uppercase;
    color: #D9CFAC
}

#mainNav .navbar-nav>li.nav-item>a {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #D9CFAC;
    font-family: Raleway, sans-serif
}

@media only screen and (min-width:992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background-color: #614444;
    }

    #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #D9CFAC;
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #f3da7e;
    }

    #mainNav .navbar-nav>li.nav-item>a {
        padding: 10px 20px;
        color: #D9CFAC;
    }

    #mainNav .navbar-nav>li.nav-item>a:focus,
    #mainNav .navbar-nav>li.nav-item>a:hover {
        color: #f3da7e;
    }
}

/*-------------------------------Log in/Sign Up Messages--------------*/

.flashes {
    margin-top: 100px;
    display: block;
    text-align: center;
    list-style-type: none;
    color: #D9CFAC;
    font-family: Raleway, sans-serif;
}

/*-------------------------------Page Titles--------------*/

.glutton {
    background-attachment: scroll;
    position: relative;
}

@media only screen and (min-width:768px) {


    .glutton .site-heading {
        padding-top: 115px;
    }
}

.glutton .site-heading {
    text-align: center
}

.glutton .site-heading h1 {
    font-size: 100px;
    margin-top: 0
}

.glutton .site-heading {
    font-size: 24px;
    line-height: 1.1;
    display: block;

}

/*-----------------------------Index Page----------*/

.home-container {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    background-color: rgba(97, 68, 68, 0.900);
    background-clip: border-box;
    border: 1px solid rgba(133, 81, 81, 0.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.rottenteeth {
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.recipe-container {
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 25px;
    min-width: 0;
    background-color: rgba(97, 68, 68, 0.900);
    background-clip: border-box;
    border: 1px solid rgba(133, 81, 81, 0.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;

}

/*-------------------------------Recipes Page--------------*/

.card {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(97, 68, 68, 0.900);
    background-clip: border-box;
    border: 1px solid rgba(133, 81, 81, 0.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.card .title-card {
    margin: 15px 0px 0px 0px;
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #D9CFAC;
    background-clip: border-box;
    border: 1px solid rgba(133, 81, 81, 0.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.card .title-card a:hover {
    color: #614444;
    text-decoration: underline;
}

.title-card p {
    color: #614444;
}

/*-------------------------------Instructions Page--------------*/

/*-------------------------------Profile Page--------------*/

.profile-container {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(97, 68, 68, 0.900);
    background-clip: border-box;
    border: 1px solid rgba(133, 81, 81, 0.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}

/*-------------------------------Log In/Sign Up/Create_Recipe Page--------------*/

.details-container {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(97, 68, 68, 0.900);
    background-clip: border-box;
    border: 1px solid rgba(133, 81, 81, 0.125);
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.details-container,
.center-form {
    text-align: center;
    padding-top: 0px;
}

.center-form {
    padding-top: 10px;
    margin: auto;
    max-width: 70%;
}

form p {
    margin-top: 50px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-family: raleway, sans-serif;
    ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #614444;
    background-color: #D9CFAC;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*--------------
input ::placeholder {
    color: #614444 !important; 
  }
-----------*/

.form-control:focus {
    border-color: #614444;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #705050;
    color: #614444;
    background-color: #D9CFAC;
}

/*--------------------------Btn-------------------------*/

button[type="submit"] {
    margin-top: 25px;
    margin-bottom: 20px;
    color: #D9CFAC;
}

.align-buttons {
    align-self: center;
}

.btn-success {
    color: #D9CFAC;
    ;
    background-color: #614444;
    border-color: #000000;
}

.btn-success:active,
.btn-success:hover,
.btn-success:focus {
    color: #D9CFAC;
    ;
    background-color: #705050;
    border-color: #D9CFAC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #705050;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #D9CFAC;
    ;
    background-color: #705050;
    border-color: #614444;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #705050;
    box-shadow: none !important;
}

/*-------------------------------Footer--------------*/

footer {
    background-color: #614444 !important;
    position: relative;
    width: 100%;
    max-height: 120px;
    bottom: 0;
    flex: 1;
}

footer p {
    margin-top: 15px;
}

i {
    color: #D9CFAC;
    margin-top: 15px;
}

.padding {
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}

footer .list-inline {
    margin: 0;
    padding: 0
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center
}