{% extends "base.html" %}
{% block content %}
<section class="glutton">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        <div class="site-heading">
          <h1 class="lobster-brown">{{ header }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="index-container">
  <div class="text-center">
    <div class="container-fluid">
      <div class="row text-center">

        <div class="col-12 align-self-start">
          <p>
            This website is dedicated<br>
            to the Gluttonous & Greedy Goons the world over.<br>
            Eat Your Feelings Ltd. may not be held<br>
            accountable for any health issues due to your poor diet.<br>
            Including but not limited to, higher blood pressure, inflammation,<br>
            weight gain, diabetes, and fatty liver disease<br>
            tooth decay or any other side effects that may stem<br>
            from piggish behaviour<br>
            Eat Your Feelings at Your Own Risk!<br>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}