{% extends "base.html" %}
{% block content %}
<section class="glutton">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 mx-auto">
              <div class="site-heading">
                  <h1>{{ header }}</h1>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="home-container">
  <div class="text-center">
    <div class="container-fluid">
      <div class="row text-center">

        <div class="col-12 align-self-start">
            <p>
              This Page is dedicated to the Gluttonous.<br>
              The Greedy. The Chocolate Swines.<br>
              The Sugar Addicts Who Dont Recognise Their Bad Habits.<br>
              Those That Dont Floss Between Meals.<br>
              The Chocoalate Shake, Chip Dippers. <br>
              The Cinnamon Coated Fried Fritters. <br>
              Not For the Faint Hearted. <br>
              Eat Your Feelings at Your Own Risk! <br>
            </p>
        </div>
        <div class="col-6">
            <img class="rottenteeth" src="/static/img/teeth.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}