{% extends "base.html" %}
{% block content %}
<header class="glutton">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Perfect Recipes</h1>
          <h2>for Gluttony & Self Loathing</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col">
        <div class="card">
          <img src="../static/mine/img/brownie.jpg" alt="background">
          <div class="container">
            <div class="title-card">
              <h4><b>Chocolate Brownie</b></h4>
              <p>By Jane Doe</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../static/mine/img/banana.jpeg" alt="background">
          <div class="container">
            <div class="title-card">
              <h4><b>Banana Split</b></h4>
              <p>By John Doe</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <div class="card">
          <img src="../static/mine/img/chocolatemousse.jpeg" alt="background">
          <div class="container">
            <div class="title-card">
            <h4><b>Chocolate Mousse</b></h4>
            <p>By Jane Doe</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../static/mine/img/cookies.jpg" alt="background">
          <div class="container">
          <div class="title-card">
            <h4><b>Cookies</b></h4>
            <p>By John Doe</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <img src="../static/mine/img/milkshake.jpg" alt="background">
        <div class="container">
          <div class="title-card">
            <h4><b>Chocolate Milkshake</b></h4>
            <p>By John Doe</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/mine/img/waffles.jpeg" alt="background">
        <div class="container">
          <div class="title-card">
            <h4><b>Stacked Waffles</b></h4>
            <p>By Jane Doe</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}