{% extends "base.html" %}
{% block content %}
<section class="glutton">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="site-heading">
                    <h1 class="lobster-brown">{{ header }}</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="profile-container">
    <div class="center-form responsive">
        <h3 class="lobster-yellow text-center"> {{ chef.firstName }}'s Profile</h3>

    </div>
</section>
{% endblock %}